- @question.answer.screenshots.each do |screenshot|
  = image_tag screenshot.file.url(:resized)

= form_tag(:controller => "questions", :action => "check") do
  = hidden_field_tag(:question_id, @question.id)
  - @options.shuffle.each do |movie|
    %li
      = radio_button_tag(:answer, movie.id)
      = label_tag(:title, movie.title)

  = submit_tag("Check")
